.background {
 background-size: 100% 100%;
 border-radius: 0 0 0 116px;
}

.student {
width: 450px;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

.header {
 font-family: "Raleway", sans-serif;
 font-size: 50px;
 margin-top: 137px;
 color: #fff;
 margin-bottom: 40px;
}

.buy {
 height: 70px;
 font-size: 32px;
 border-radius: 40px;
 width: 177px;
 color: #fff;
 background-color: #78A083;
 border: none;
 font-family: "Raleway", sans-serif;
}