.back {
 background-size: 100% 100%;
 padding-top: 100px;
 border-radius: 0 116px 0 116px;
 padding-bottom: 114px;
}

.player_container {
 background-color: #fff;
 padding: 46px 28px 124px 28px;
 border-radius: 24px;
 width: min-content;
 margin: 0 auto;
}

.description {
 font-size: 32px;
 color: #fff;
}

.description_box {
 margin: 0 0 0 40px;
}

.watch {
 margin-top: 40px;
 color: #253E64;
 height: 70px;
 font-size: 32px;
 font-family: "Raleway", sans-serif;
 border-radius: 40px;
 padding: 0 40px;
}